EvalCrediticiaWS/WebContent/WEB-INF/wsdl/PerformFullCreditEvaluation.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	targetNamespace="http://servicio.performfullcreditevaluation.evalCrediticia.aplicaciones.clarochile.cl"
	xmlns:tns="http://servicio.performfullcreditevaluation.evalCrediticia.aplicaciones.clarochile.cl"
	xmlns:cli="http://estructura.performfullcreditevaluation.evalCrediticia.aplicaciones.clarochile.cl"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:commonexception="http://commonsexceptions.evalCrediticia.aplicaciones.clarochile.cl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap">
	
	<wsdl:types>
		<!-- <wsdl:documentation> 
			Author: Jeisson Alexander Ruiz Cardenas 
			email: jeisson.ruizcardenas@tcs.com 
			Date: 04/03/2013 Version: 1.0 
			Objective: change plan of customer. 
			IDD: AMX Phase I - OMS Consolidated IDD - Credit Evaluation Integration 
			Capabilitys: PerformFullCreditEvaluation 
		</wsdl:documentation> -->
		
		<xs:schema>
			<xs:import
				namespace="http://estructura.performfullcreditevaluation.evalCrediticia.aplicaciones.clarochile.cl"
				schemaLocation="PerformFullCreditEvaluation.xsd" />
			<xs:import namespace="http://commonsexceptions.evalCrediticia.aplicaciones.clarochile.cl"
				schemaLocation="CommonExceptions.xsd" />
		</xs:schema>
	</wsdl:types>
	
    <!-- ************************** -->
	<wsdl:message name="PerformFullCreditEvaluationRequest">
		<wsdl:part name="body" element="cli:PerformFullCreditEvaluationRequest" />
	</wsdl:message>
	<wsdl:message name="PerformFullCreditEvaluationResponse">
		<wsdl:part name="body" element="cli:PerformFullCreditEvaluationResponse" />
	</wsdl:message>
	<wsdl:message name="BusinessExceptionFault">
		<wsdl:part name="BusinessExceptionFault" element="commonexception:BusinessExceptionFault" />
	</wsdl:message>
	
    <wsdl:message name="PerformFullCreditEvaluationRequestTest">
        <wsdl:part name="body" element="cli:PerformFullCreditEvaluationRequestTest" />
    </wsdl:message>
    <wsdl:message name="PerformFullCreditEvaluationResponseTest">
        <wsdl:part name="body" element="cli:PerformFullCreditEvaluationResponseTest" />
    </wsdl:message>
    <wsdl:message name="BusinessExceptionFaultTest">
        <wsdl:part name="BusinessExceptionFault" element="commonexception:BusinessExceptionFault" />
    </wsdl:message>	
	
	<!-- ************************** -->	
	<wsdl:portType name="PerformFullCreditEvaluation">
		<wsdl:operation name="PerformFullCreditEvaluation">
			<wsdl:documentation>
				<description></description>
			</wsdl:documentation>
			<wsdl:input name="PerformFullCreditEvaluationInput"
				message="tns:PerformFullCreditEvaluationRequest" />
			<wsdl:output name="PerformFullCreditEvaluationOutput"
				message="tns:PerformFullCreditEvaluationResponse" />
			<wsdl:fault name="BusinessException" message="tns:BusinessExceptionFault" />
		</wsdl:operation>
		
        <wsdl:operation name="PerformFullCreditEvaluationTest">
            <wsdl:documentation>
                <description></description>
            </wsdl:documentation>
            <wsdl:input name="PerformFullCreditEvaluationInput2"
                message="tns:PerformFullCreditEvaluationRequestTest" />
            <wsdl:output name="PerformFullCreditEvaluationOutput2"
                message="tns:PerformFullCreditEvaluationResponseTest" />
            <wsdl:fault name="BusinessException" message="tns:BusinessExceptionFault" />
        </wsdl:operation>		
	</wsdl:portType>
	
	<!-- ************************** -->	
	<wsdl:binding name="PerformFullCreditEvaluationSoapBinding"
		type="tns:PerformFullCreditEvaluation">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PerformFullCreditEvaluation">
			<wsdlsoap:operation style="document"
				soapAction="http://performfullcreditevaluation.evalCrediticia.aplicaciones.clarochile.cl/Operacion" />
			<wsdl:input>
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BusinessException">
				<wsdlsoap:fault name="BusinessException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
        <wsdl:operation name="PerformFullCreditEvaluationTest">
            <wsdlsoap:operation style="document"
                soapAction="http://performfullcreditevaluation.evalCrediticia.aplicaciones.clarochile.cl/OperacionTest" />
            <wsdl:input>
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BusinessException">
                <wsdlsoap:fault name="BusinessException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>		
	</wsdl:binding>
	
	<!-- ************************** -->
	<wsdl:service name="PerformFullCreditEvaluationService">
		<wsdl:port name="PerformFullCreditEvaluationPort" binding="tns:PerformFullCreditEvaluationSoapBinding">
			<wsdlsoap:address location="${port}" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>